.body{
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
background-color: pink;
width: 200px;
}
.content{
    background-color:yellow;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-item{
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active-menu{
    background-color: #ccddff;}
    .menu-item:hover{
    background-color: #ccddff;
}
.menu-img{
    height: 20px;
}
.menu-text{
 margin-left: 10px;
}
.bottom-navigation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    display: none;
}
.bottom-nevigation-bar{
    display: flex;
    justify-content: space-around;
}
.bottom-menu-icon{
    background-color: #fff;
    margin: 5px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
}
.bottom-menu-icon-active{
 background-color: #ccddff
}
/* small devices */
@media screen and (min-width: 600px){
    .sidebar{display: none;}
    .bottom-navigation-bar{
        display: flex;
        justify-content: space-around;
    
    }
}

   /* normal Devices */

   @media screen and (min-width: 601px) and (max-width: 768px) {
.sidebar{display: none;}
.bottom-navigation-bar{display: flex;
justify-content: space-around;}

   }
 

  /* Tablet Devices */

  @media screen and (min-width: 769px) and (max-width: 992px) {
  
  }

  /* large device */

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    
  }
    